/* ==========================================================================
Generated Typescale from https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Montserrat%20Alternates&fontweight=600&bodyfont=Montserrat&bodyfontweight=400&lineheight=1.5&backgroundcolor=%23ffffff&fontcolor=%230f0f0f&preview=false
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Montserrat+Alternates:600');

html {
    font-size: 100%; //16px
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

// p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    // margin: 3rem 0 1.38rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: clamp(2.763rem, calc( 16px + 3.575vw ), 3.738rem);
    line-height: 1.1;
    }
    
    h2 {
    font-size: clamp(2.275rem, calc( 16px + 2.600vw ), 2.925rem);
    line-height: 1.1;
    }
    
    h3 {
    font-size: clamp(1.853rem, calc( 16px + 1.950vw ), 2.438rem);
    line-height: 1.1;
    }
    
    h4 {
    font-size: clamp(1.625rem, calc( 16px + 1.300vw ), 1.950rem);
    line-height: 1.1;
    }
    
    p {
    font-size: clamp(1.495rem, calc( 16px + 0.780vw ), 1.625rem);
    line-height: 1.1;
    }
    
    // span {
    // font-size: clamp(1.300rem, calc( 16px + 0.520vw ), 1.463rem);
    // line-height: 1.1;
    // }