@use "sass:math";

@import "./normalize.scss";
@import "./fonts.scss";
@import "./helpers.scss";
@import "../node_modules/hsluv-sass";

$primary-hue: 25;
$primary-sat: 98;
$primary-lit: 65;
$primary-col: hsluv($primary-hue,$primary-sat,$primary-lit);

$secondary-hue: 250;
$secondary-sat: 100;
$secondary-lit: 63;
$secondary-col: hsluv($secondary-hue,$secondary-sat,$secondary-lit);

$background-hue: 280;
$background-sat: 100;
$background-lit: 5;
$background-col: hsluv($background-hue,$background-sat,$background-lit);

$surface-lit: 10; // Added lightness to background lightness
$surface-col: hsluv($background-hue,$background-sat,calc($surface-lit + $background-lit));

html {
  scroll-behavior: smooth;
  box-sizing: content-box;
}

body {
  color: white;
  background-color: $background-col;
  height: calc(100vh * 10);
  max-width: 35rem;
}

a {
  color: $primary-col;
  background: linear-gradient(90deg, $primary-col, $primary-col) no-repeat right bottom / 0 100%;
  transition: background-size 350ms;
  border-radius: 3px;
}

a:where(:hover, :focus-visible) {
  color: black;
  background-size: 100% 100%;
  background-position-x: left;
}

nav {
  position: fixed;
  height: 1.5rem;
  width: 100vw;
  padding: 1rem 3vw;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: max-content auto 2rem;
  background-color: $background-col;
  box-shadow: 0 3px 5px $secondary-col;
  font-family: 'Montserrat Alternates', sans-serif;
  color: $primary-col;
  ul {
    list-style-type: none;
    margin: 0;
    background-color: $surface-col;
    flex-direction: column;
    left: 0;
    width: 100%;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    li {
      font-weight: 600;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0%; /* 0 width - change this with JavaScript */
  margin: auto 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding-left: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  text-decoration: none;
  font-size: 4rem;
  display: inline-block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 2.5rem;
}
.nav-title {
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin:0;
}

.burger-menu {
  display: block;
  width: 1.5rem;
  margin-left: -6vw;
}

.show {
  transform: translateX(0);
}

section {
  background-color: $surface-col;
}

main {
  padding-top: 3rem;
}

main > section {
    padding: 3vh 3vw;
    margin: 3vh 3vw;
    height: 84vh;
    width: 88vw;
    border-radius: 1rem;
    overflow: hidden;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(2, 35%) auto; 
    gap: 0px 0px; 
  }

.home-image {
  max-width: 70%;
  max-height: 100%;
  place-self: center;
  border-radius:40%;
  filter: drop-shadow(0 0 1em $primary-col);
}

.home-title {
  padding: 0 .2em ;
  margin: 0;
  align-self: center;
}

.home-description {
  padding: .2em;
  margin: 0;
  align-self: baseline;

}

.home-name-highlight {
  color: $secondary-col;
}

.ti-cursor {
  color: $secondary-col !important;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For tablets: */
/* @media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
} */

/* Style adjustments for viewports that meet the condition */
@media only screen and (min-width: 40em) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;} 
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;} 
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;} 
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}